body{
	background-image:url("http://images.twitrounds.com/artistic-backgrounds/writers-desk.jpg"); 
	padding-top: 50px;
}

p, h1, h3, .tab {font-family:'Fredericka the Great', cursive;
		font-weight: bold;
}

.starter-template {
  	padding: 40px 15px;
  	margin-top: 70px;
  	margin-right: 150px;
  	margin-left: 150px;
  	text-align: center;
  	border-style:solid;
	border-width:5px;
	box-shadow: 0px 9px 5px 5px #888888;
	background-image: url("http://backgrounds.picaboo.com/download/3c/c7/3c737f0f0e424d8fa3d9b46ba6a5dc9f/notebook_paper.jpg");
}

.carousel {
	border-style: solid;
	border-width: 5px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 30px;
	background-color: black;
}

.carousel ul li{
	display: inline;
	margin: 0px 5px;
}

.picc{
	border-width:  10px 10px 45px 10px;
	border-style: solid;
	border-color: white;
}

#blog{
	background-color: white;
	margin: 25px;
	padding: 15px;
	border-style:solid;
	border-width:5px;
	box-shadow: 0px 9px 5px 5px #888888;

}

#main_pic{
	border-width:  10px 10px 45px 10px;
	border-style: solid;
	border-color: white;
	margin-top: 25px;
	margin-bottom: 25px;
}

#tabs{
	box-shadow: 0px 9px 5px 5px #888888;
	margin-top: 35px;
}

.tabpic{
	border-width:  10px 10px 10px 10px;
	border-radius: 250px;
	border-style: solid;
	border-color: #F0F0E0;
}

background-image: url("http://www.refundpicnic.com/files/QuickSiteImages/polaroid-blank-282x347.jpg");
	padding: 100px 100px;